@import "./header.scss";
@import "./lorem.scss";
@import "./swiper.scss";
@import "./vue-block.scss";
@import "./form-block.scss";
@import "./footer.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* common styles */

html{
    overflow-x: hidden;
}

button{
    outline: none;
    cursor: pointer;
}

section{
    padding-left: 100px;
    padding-right: 100px;
}

.blue {
    background: #0093E6;;
}

.grey-circle{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: grey;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}