*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* common styles */

html{
    overflow-x: hidden;
}

button{
    outline: none;
    cursor: pointer;
}

section{
    padding-left: 100px;
    padding-right: 100px;
}

.blue {
    background: #0093E6;;
}

.grey-circle{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: grey;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

/* header */

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
    margin-top: 15px;

    &__pentagon{
        width: 60px;
        height: 60px;
        background: #0093E6;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }

    &__nav{
        a {
            text-decoration: none;
            margin-left: 25px;
        }
    }
}

/* lorem */

.lorem{
    justify-content: space-between;
    margin-top: 10px;
    background: #F9F9F9;
    height: 1490px;

    &_bottom{
        margin-top: 240px;
        justify-content: space-between;
    }

    &_block{
        width: 33%;

        &--top{
            width: auto;

            h1{
                left: 325px;
                top: 380px;
                font-size: 180px;
                line-height: 1;
                position: absolute;
                z-index: 1;
                top: 325px;
                color: rgba(74, 77, 78, 0.8);
            }
        
            &_img{
                position: relative;
                width: 1725px;
                height: 700px;
                left: 195px;
            }
        }

        &--left{
            width: 380px;
            h2{
                font-size: 1.5em;
                margin-bottom: 20px;
            }
            
            p{
                font-size: .8em;
                color: grey;
            }

            &_button{
                margin-top: 35px;
                width: 290px;
                height: 50px;
                background: #0093E6;
                color: white;
                border: none;
                border-radius: 10px;
            }
        }

        &--circles{
            margin-left: 150px;
            &_row{
                align-items: center;
                text-align: left;
                margin-bottom: 15px;
                p{
                    margin-left: 25px;
                    width: 200px;
                }
            }
        }

        &_image{
            height: 680px;
            width: 490px;
            position: relative;
            top: -80px;
        }
    }
}

/* slider block */

.swiper {

    &-container{
        width: 1200px;
        height: 500px;
        margin-top: 200px;
    }
    
    &-slide{
        width: 360px;
        height: 460px;
        padding: 85px 40px;
        background: white;
        box-shadow: 0 0 10px rgba(160, 166, 168, 0.8);
        display: flex;
        justify-content: space-around;
        align-items: left;
        
        .row{
            align-items: center;
            div{
                width: 70px;
                height: 70px;
            }
            h3{
                margin-left: 20px;
                font-size: 36px;
            }
        }

        ul{
            li{
                color: #0093E6;
                margin-bottom: 25px;
                span{
                    color: #4A4D4E;
                }
            }
        }
    }

    &-pagination{
        span{
            background: #4A4D4E;
        }
    }

    &-button{
        &-prev, &-next{
            top: 1980px;
        }

        &-prev{
            margin-left: 250px;
        }

        &-next{
            margin-right: 250px;
        }

        @media (max-width: 1600px){
            &-prev{
                margin-left: 50px;
            }
    
            &-next{
                margin-right: 50px;
            }
        }
    }

}

.middle{
    
    &-heading{
        position: absolute;
        top: 1900px;
        font-size: 50px;
    }

    &_list{

        background: #F9F9F9;
        width: 1725px;
        height: 1300px;
        padding-top: 300px;
        padding-left: 50px;
        position: relative;
        top: -250px;
        @media (max-width: 1600px){
            width: 1400px;
        }

        h2{
            font-size: 40px;
        }

        h2::after{
            display: block;
            width: 854px;
            content: '';
            border-bottom: 3px solid #0093E6;
            position: relative;
            top: -15px;
            left: 460px;
        }

        &-container{
            margin-top: 60px;
            padding-left: 70px;
            &--part{
                width: 45%;

                .element{
                    margin-bottom: 55px;
                    span{
                        font-size: 50px;
                        line-height: 59px;
                        color: #0093E6;
                        display: flex;
                    }

                    p{
                        font-size: 24px;
                        line-height: 140%;
                        position: relative;
                        top: 20px;
                        left: 20px;
                        width: 490px;
                    }
                }
            }
        }
    }

    &_bottom{
        width: 100%;
        padding: 0;
        position: absolute;
        top: 2900px;
        &-part{

            img{
                position: relative;
                left: -110px;
            }
        }

        &-part:nth-child(2){
            padding-left: 70px;
            
            @media (max-width: 1600px){
                padding-left: 0;
            }


            h2{
                font-size: 30px;
            }
            
            p{
                margin-top: 15px;
                font-size: 18px;
            }

            ul{
                margin: 25px 0 0 15px;
                li{
                    color: #0093E6;
                    margin-bottom: 25px;
                    span{
                        color: #4A4D4E;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
            }

            ul:nth-child(2){
                margin-left: 200px;
            }
        }
    }

}

/* блок анимаций */

.animations{
    h2{
        font-size: 40px;
    }

    h2::after{
        display: block;
        width: 1078px;
        content: '';
        border-bottom: 3px solid #E5E5E5;
        position: relative;
        top: -15px;
        left: 280px;
    }

    &_wrapper{
        margin: 70px 0 0 100px;
        justify-content: space-between;
        align-items: center;
        width: 1260px;
        @media (max-width: 1600px){
            width: 1100px;
        }

    }

    &_block{
        
        img{
            width: 50px;
            height: 50px;
        }

        .circle{
            width: 10px;
            height: 10px;
            border: 2px solid #B4B4B4;
            border-radius: 50%;
            margin:20px 0;
        }

        .fullfill{
            border: none;
        }

        .fullfill::after{
            width: 12px;
            height: 12px;
            border: 2px solid #0093E6;
            border-radius: 50%;
            content: '';
            display: block;
            position: relative;
            top: -3px;
            left: -3px;
        }

        .line{
            width: 200px;
            border-bottom: 2px solid #B4B4B4;
            position: relative;
            top: -26px;
            left: 10px;

            &-bar{
                max-width: 200px;
                top: -28px;
                border-bottom: 2px solid blue;
                width: 0%;
                transition: 3s;
            }
        }
    }

    &_button{
        margin-top: 50px;
        width: 230px;
        height: 50px;
        background: #0093E6;
        color: white;
        border: none;
        border-radius: 10px;
        position: relative;
        left: 1135px; 
        @media (max-width: 1600px){
            left: 1000px;
        }

        &::before{
            display: block;
            content: '';
            width: 1010px;
            @media (max-width: 1600px){
                width: 900px;
                right: 940px;
            }
            height: 3px;
            background: #E5E5E5;
            position: relative;
            right: 1040px;
        }

    }
}

/* секция с вью */

#vue{
    flex-wrap: wrap;

    

    .component{
        *{
            margin-top: 25px;
        }
        width: 330px;
        height: 400px;
        font-size: 18px;
        
        &:not(:first-child), &:not(:nth-child(4)){
            margin-left: 40px;
        }

        h2{
            font-size: 28px;
        }

        ul{

            li{
                color: #0093E6;
                margin-top: 10px;
                span{
                    color: #4A4D4E;
                }
            }
        }
    }
}

.vue{
    margin-top: 150px;
    background: #F9F9F9;
    height: 1040px;

    &_bottom{
            position: relative;
            top: 100px;
            width: 1795px;
            height: 280px;
            left: 90px;
            background: #0093E6;
            border-radius: 30px 0px 0px 30px;
            align-items: center;

            &-elem {

                margin-left: 120px;
                @media (max-width: 1600px){
                    margin-left: 50px;
                }
                
                div{
                    width: 100px;
                    height: 100px;
                    background: rgba(249, 249, 249, 0.5);
                }

                p{
                    margin-left: 20px;
                    font-size: 24px;
                    width: 170px;
                    color: white;
                }
                align-items: center;
            }
    }
}


/* форма */

.form{
    padding-top: 250px;
    margin-left: 90px;
    

    h2{
        font-size: 50px;
        margin-bottom: 80px;
    }

    &_info {

        justify-content: space-between;

        h3{
            width: 300px;
            margin-bottom: 40px;
        }

        form{

            width: 750px;

            :nth-child(3){
                width: 100%;
                div{
                    width: 50%;
                }
            }

            #name{
                width: 100%;
            }

            input:not(.submit-button){
                outline: none;
                margin-top: 20px;
                width: 99%;
                border: none;
                border-bottom: 1px solid #4A4D4E;;
            }

            .error-text{
                margin-top: 10px;
                font-size: 12px;
                color: grey;
                visibility: visible;
                width: 100%;

                span{
                    color:  #0093E6;
                }
            }

            .range-slider{
                margin-top: 90px;
                width: 750px;
                height: 20px;
                background: grey;
            }

            .submit{
                margin-top: 25px;
                align-items: center;
                justify-content: space-between;

                p{
                    font-size: 16px;
                    color: #4A4D4E;
                }

                &-button{
                    color: white;
                    font-size: 18px;
                    width: 230px;
                    height: 50px;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    outline: none;
                }
            }
        }

        &_text{
            width: 360px;
            margin-right: 350px;

            @media (max-width: 1600px){
                margin-left: 70px;
            }

            p{
                margin-top: 30px;
                font-size: 16px;
                color: #4A4D4E;
            }
        }
    }
}

/* футер */

.footer{
    background: #333333;
    color: white;
    padding: 108px 202px;
    margin-top: 150px;
    justify-content: space-between;
    
    &_social{
        width: 240px;
    }
    
    div{
        height: 204px;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: white;
            height: 24px;
        }
    }
}